a{
	font-size: 18px;
	font-family:monospace;
    color: white;
    text-decoration: none;

}

input:focus,textarea:focus,select:focus{
  border:1px solid #fafafa;
  -webkit-box-shadow:0 0 6px #007eff;
  -moz-box-shadow:0 0 5px #007eff;
  box-shadow:0 0 5px #007eff;
  outline: none;
}

sup{
	font-size: 40px;
}

ul{
	list-style: none;
	font-size: 15px;
	font-family:'Open Sans';
	color: #9095aa;
	padding: 0px;
	margin: 0px;


}


li{
font-family: monospace;
border-bottom: 1px solid #494a5a;
padding: 0px;
margin: 0px;
text-align: center;
height: 52px;
line-height: 52px;
}


#container{
	width: 100%;
  text-align:center;
}

.whole{
	display: inline-block;
  
}



.type{
	width: 300px;
	border-radius: 5px 5px 0px 0px;
    background-color: green;
    font-family: monospace;
	height: 62px;

}

.type p{
	font-family:monospace;
    font-weight: 800;
	font-size: 29px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding-top: 10px;

	

}

.plan{
	width: 300px;
	background-color: #2b2937;
    font-family: monospace;
	border-radius: 0px 0px 5px 5px;
    font-family:monospace;
    font-style:condensed;
    font-size: 90px;
    color: white;
    text-align: center;


}
.standard{
    font-family: monospace;
	background-color: #eac80d;
}

.ultimate{
    font-family: monospace;
	background-color: red;
}





.header{
	border-bottom: 1px solid #494a5a;
	padding-bottom: 39px;
    font-family: monospace;

}

.header span{
	font-size: 32px;
    font-family: monospace;
	
}

.month{
	font-size: 14px;
	color: #575757;
	padding: 0px;
    margin: -10px;
    font-family: monospace;
}

.price{
    height:80px;
    font-family: monospace;
}

.cart{
  
  color:white;
  position: relative;
  top: 16px;
  font-family: monospace;
  
}

.bottom{
  
  
}

.content{
}

.login_c{
  width:500px;
  background-color:#2b2937;
  height:300px;
  margin: 0 auto;
  margin-top:40px;
  border-radius:5px;
  
}

.login_c input{
  width: 350px;
height: 40px;
  border: 1px solid #494a5a;
  margin-bottom:20px;
  border-radius:5px;
  padding-left: 10px;

}


.login{
  background-color: #BC4B1A;
	border-bottom: 3px solid #7C3618;
  width:100%;
  
}

.top{
  margin-top:35px;
}

.nodisplay{
  opacity: 0.1;
}

.selected{
  background-color:#1F1B36;
  margin:0px;
  padding:0px;
}